.content-container {
  font-size: 30px;

  &::-moz-selection {
    color: white;
    background: rgb(194 65 12);
  }

  &::selection {
    color: white;
    background: rgb(194 65 12);
  }

  &[data-open="open"] {
    filter: blur(0px);
  }
  &[data-open="close"] {
    color: rgba(255, 255, 255, 0.55);
    filter: blur(6px);
    pointer-events: none;
  }
}
