.reveal-btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.05rem 1rem;
  border-radius: 9999px;
  border-width: 1px;
  font-size: 24px;
  border: thin solid;
  height: min-content;

  &::-moz-selection {
    color: white;
    background: rgb(194 65 12);
  }

  &::selection {
    color: white;
    background: rgb(194 65 12);
  }

  &[data-open="open"] {
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
  }
}

@media (hover: hover) {
  .reveal-btn:hover {
    cursor: help;
    background-color: rgb(194 65 12);
    border-color: rgb(194 65 12) !important;
  }
  .reveal-btn[data-open="open"] {
    &:hover {
      & + .content-container[data-open="open"] {
        color: rgb(194 65 12);
        .reveal-btn[data-open="open"] {
          border-color: rgb(194 65 12);
          background-color: rgb(194 65 12);
        }
      }
    }
  }
}
